<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>353853855267-i1tmkdkt29m1qdbv5v8dik7tspuoeova.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.353853855267-i1tmkdkt29m1qdbv5v8dik7tspuoeova</string>
	<key>API_KEY</key>
	<string>AIzaSyB7RwC7Dik6N_r5JHRbvemg2ciq4eoyNs4</string>
	<key>GCM_SENDER_ID</key>
	<string>353853855267</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Sacha-De-Wilde.BarTab</string>
	<key>PROJECT_ID</key>
	<string>alcoholtest-71aed</string>
	<key>STORAGE_BUCKET</key>
	<string>alcoholtest-71aed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:353853855267:ios:ff4e2ff353f92669684396</string>
</dict>
</plist>